<mat-drawer-container class="example-container" autosize>
  <mat-drawer mode="side" opened class="drawer">
    <div class="logo">
      <mat-icon [inline]="true" class="mat-24">cloud_queue</mat-icon>
      <h2 style="padding: 10px 10px 0 10px">Электронная очередь</h2>
    </div>

    <mat-divider></mat-divider>

    <ng-material-multilevel-menu
      [items]='appitems'>
    ></ng-material-multilevel-menu>

  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
