<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="drawer">
    <h2 style="padding: 10px 10px 0 10px">Электронная очередь</h2>

    <mat-divider></mat-divider>



    <ng-material-multilevel-menu
      [items]='appitems'>
    ></ng-material-multilevel-menu>

<!--    <mat-nav-list>-->
<!--      <a mat-list-item routerLink="/services">-->
<!--        <mat-icon>description</mat-icon>-->
<!--        Услуги-->
<!--      </a>-->


<!--      <a mat-list-item routerLink="/operators">-->
<!--        <mat-icon>people</mat-icon>-->
<!--        Окна-->
<!--      </a>-->


<!--&lt;!&ndash;      <a mat-list-item routerLink="/operators">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon>description</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        Услуги&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->
<!--    </mat-nav-list>-->
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
