<div class="page-container">
  <h1>Список групп услуг</h1>
  <button mat-raised-button color="primary" (click)="openCreateServiceModal()">Добавить группу услуг</button>
</div>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <app-services-list
    [data]="data"
    (edit)="openEditServiceModal($event)"
    (delete)="onOpenDeleteServiceModal($event)"
  ></app-services-list>
</div>
